In [2]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.decomposition import PCA
from sklearn.pipeline import Pipeline
from sklearn.externals import joblib
from sklearn.model_selection import GridSearchCV, cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neighbors import KNeighborsClassifier
import pandas as pd
import seaborn as sns
sns.set() # if you want to use seaborn themes with matplotlib functions
import warnings
warnings.filterwarnings('ignore')

In [76]:
dataset = pd.read_csv('CSE_DSIntro1_TRAIN.csv')

In [77]:
rand_state = 1000

In [78]:
dataset

,Id,Column_1,Column_2,Column_3,Column_4,Column_5,Column_6,Column_7,Column_8,Column_9,...,Column_69,Column_70,Column_71,Column_72,Column_73,Column_74,Column_75,Column_76,Column_77,Category
0,1,77041.5,44471.03389,88955.41342,1602.4632,1787.3628,1571.6466,1294.2972,1664.0964,1756.5462,...,22,2,2021,11,23,15,22,2,2021,0
1,2,77120.0,44516.34682,89046.05288,1573.2480,2128.5120,987.1360,956.2880,1511.5520,1388.1600,...,22,2,2021,11,23,15,22,2,2021,0
2,3,77120.0,44516.34682,89046.05288,1789.1840,1511.5520,1665.7920,1326.4640,1357.3120,1634.9440,...,22,2,2021,11,23,15,22,2,2021,0
3,4,77117.5,44514.90373,89043.16628,1511.5030,1789.1260,1233.8800,1881.6670,1418.9620,2159.2900,...,22,2,2021,11,23,16,22,2,2021,0
4,5,77120.0,44516.34682,89046.05288,1974.2720,1696.6400,832.8960,1820.0320,1758.3360,1727.4880,...,22,2,2021,11,23,16,22,2,2021,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2495,2496,77117.5,44514.90373,89043.16628,1203.0330,2282.6780,1542.3500,1758.2790,1850.8200,1295.5740,...,22,2,2021,11,42,33,22,2,2021,1
2496,2497,77120.0,44516.34682,89046.05288,894.5920,1203.0720,1079.6800,1480.7040,1449.8560,1604.0960,...,22,2,2021,11,42,34,22,2,2021,1
2497,2498,77117.5,44514.90373,89043.16628,1789.1260,1604.0440,1326.4210,1418.9620,1542.3500,1511.5030,...,22,2,2021,11,42,34,22,2,2021,1
2498,2499,77117.5,44514.90373,89043.16628,1789.1260,524.3990,1511.5030,1357.2680,863.7160,616.9400,...,22,2,2021,11,42,35,22,2,2021,0
2499,2500,77120.0,44516.34682,89046.05288,1542.4000,1789.1840,1850.8800,1511.5520,1758.3360,1326.4640,...,22,2,2021,11,42,35,22,2,2021,0

In [79]:
dataset.isnull().sum()/len(dataset)

Id           0.0
Column_1     0.0
Column_2     0.0
Column_3     0.0
Column_4     0.0
            ...
Column_74    0.0
Column_75    0.0
Column_76    0.0
Column_77    0.0
Category     0.0
Length: 79, dtype: float64

In [80]:
sum(dataset.duplicated())

0

In [81]:
# dropping the duplicates:
dataset.drop_duplicates(inplace=True)

In [82]:
unique_values = list(dataset.nunique())
for i in range(len(unique_values)):
    if unique_values[i] == 1:
        print(i, unique_values[i],dataset.columns[i])

55 1 Column_55
57 1 Column_57
66 1 Column_66
69 1 Column_69
70 1 Column_70
71 1 Column_71
72 1 Column_72
75 1 Column_75
76 1 Column_76
77 1 Column_77

In [83]:
unique_values = list(dataset.nunique())
k=0
for i in range(len(unique_values)):
    if unique_values[i] == 1:
        print('find', i)
        dataset.drop(dataset.columns[i-k], axis=1 ,inplace=True)
        k+=1
print(dataset)

find 55
find 57
find 66
find 69
find 70
find 71
find 72
find 75
find 76
find 77
        Id  Column_1     Column_2     Column_3   Column_4   Column_5  \
0        1   77041.5  44471.03389  88955.41342  1602.4632  1787.3628
1        2   77120.0  44516.34682  89046.05288  1573.2480  2128.5120
2        3   77120.0  44516.34682  89046.05288  1789.1840  1511.5520
3        4   77117.5  44514.90373  89043.16628  1511.5030  1789.1260
4        5   77120.0  44516.34682  89046.05288  1974.2720  1696.6400
...    ...       ...          ...          ...        ...        ...
2495  2496   77117.5  44514.90373  89043.16628  1203.0330  2282.6780
2496  2497   77120.0  44516.34682  89046.05288   894.5920  1203.0720
2497  2498   77117.5  44514.90373  89043.16628  1789.1260  1604.0440
2498  2499   77117.5  44514.90373  89043.16628  1789.1260   524.3990
2499  2500   77120.0  44516.34682  89046.05288  1542.4000  1789.1840

       Column_6   Column_7   Column_8   Column_9  ...  Column_61    Column_62  \
0     1571.6466  1294.2972  1664.0964  1756.5462  ...   1.511108  63642.86256
1      987.1360   956.2880  1511.5520  1388.1600  ...   1.511097  63649.22304
2     1665.7920  1326.4640  1357.3120  1634.9440  ...   1.511247  63658.20567
3     1233.8800  1881.6670  1418.9620  2159.2900  ...   1.511245  63655.53620
4      832.8960  1820.0320  1758.3360  1727.4880  ...   1.511409  63637.01387
...         ...        ...        ...        ...  ...        ...          ...
2495  1542.3500  1758.2790  1850.8200  1295.5740  ...   1.511090  63689.52068
2496  1079.6800  1480.7040  1449.8560  1604.0960  ...   1.511129  63696.82226
2497  1326.4210  1418.9620  1542.3500  1511.5030  ...   1.511286  63695.04189
2498  1511.5030  1357.2680   863.7160   616.9400  ...   1.511245  63683.13411
2499  1850.8800  1511.5520  1758.3360  1326.4640  ...   1.511552  63697.79604

      Column_63  Column_64  Column_65  Column_67  Column_68  Column_73  \
0      1.527652   0.073507   1.511320         23         15         23
1      1.527373   0.073794   1.511169         23         15         23
2      1.527631   0.073571   1.511256         23         15         23
3      1.527550   0.073430   1.511489         23         16         23
4      1.527490   0.073543   1.511393         23         16         23
...         ...        ...        ...        ...        ...        ...
2495   1.527730   0.073834   1.510860         42         33         42
2496   1.527971   0.073253   1.511402         42         34         42
2497   1.527891   0.073301   1.511400         42         34         42
2498   1.527758   0.073542   1.511201         42         35         42
2499   1.527767   0.073461   1.511293         42         35         42

      Column_74  Category
0            15         0
1            15         0
2            15         0
3            16         0
4            16         0
...         ...       ...
2495         33         1
2496         34         1
2497         34         1
2498         35         0
2499         35         0

[2500 rows x 69 columns]

In [84]:
dataset.columns

Index(['Id', 'Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5',
       'Column_6', 'Column_7', 'Column_8', 'Column_9', 'Column_10',
       'Column_11', 'Column_12', 'Column_13', 'Column_14', 'Column_15',
       'Column_16', 'Column_17', 'Column_18', 'Column_19', 'Column_20',
       'Column_21', 'Column_22', 'Column_23', 'Column_24', 'Column_25',
       'Column_26', 'Column_27', 'Column_28', 'Column_29', 'Column_30',
       'Column_31', 'Column_32', 'Column_33', 'Column_34', 'Column_35',
       'Column_36', 'Column_37', 'Column_38', 'Column_39', 'Column_40',
       'Column_41', 'Column_42', 'Column_43', 'Column_44', 'Column_45',
       'Column_46', 'Column_47', 'Column_48', 'Column_49', 'Column_50',
       'Column_51', 'Column_52', 'Column_53', 'Column_54', 'Column_56',
       'Column_58', 'Column_59', 'Column_60', 'Column_61', 'Column_62',
       'Column_63', 'Column_64', 'Column_65', 'Column_67', 'Column_68',
       'Column_73', 'Column_74', 'Category'],
      dtype='object')

In [85]:
test_data = pd.read_csv('CSE_DSIntro1_TEST.csv')

In [86]:
unique_values_test = list(test_data.nunique())
for i in range(len(unique_values_test)):
    if unique_values_test[i] == 1:
        print(i, unique_values_test[i],test_data.columns[i])

55 1 Column_55
57 1 Column_57
66 1 Column_66
69 1 Column_69
70 1 Column_70
71 1 Column_71
72 1 Column_72
75 1 Column_75
76 1 Column_76
77 1 Column_77

In [87]:
k_test=0
for i in range(len(unique_values_test)):
    if unique_values_test[i] == 1:
        print('find', i)
        test_data.drop(test_data.columns[i-k_test], axis=1 ,inplace=True)
        k_test+=1
print(test_data)

find 55
find 57
find 66
find 69
find 70
find 71
find 72
find 75
find 76
find 77
        Id  Column_1     Column_2     Column_3   Column_4   Column_5  \
0        1  77117.50  44514.90373  89043.16628  1696.5850  1665.7380
1        2  77120.00  44516.34682  89046.05288  1357.3120   339.3280
2        3  77120.00  44516.34682  89046.05288  1758.3360  1974.2720
3        4  77120.00  44516.34682  89046.05288  1110.5280  1264.7680
4        5  77120.00  44516.34682  89046.05288  2652.9280  2005.1200
...    ...       ...          ...          ...        ...        ...
1586  1587  77120.00  44516.34682  89046.05288  1789.1840  1881.7280
1587  1588  77117.50  44514.90373  89043.16628  1696.5850  1357.2680
1588  1589  77122.25  44517.64560  89048.65083  1696.6895  1727.5384
1589  1590  77122.25  44517.64560  89048.65083  1449.8983  1789.2362
1590  1591  77122.25  44517.64560  89048.65083  1449.8983  1326.5027

       Column_6   Column_7   Column_8   Column_9  ...  Column_60  Column_61  \
0     1418.9620  1264.7270  1203.0330  1573.1970  ...   0.073235   1.511481
1     1326.4640  1017.9840  1573.2480  1604.0960  ...   0.073413   1.511241
2     1480.7040  1141.3760  1542.4000  1388.1600  ...   0.073253   1.511402
3     1388.1600  1449.8560  1573.2480  1419.0080  ...   0.073415   1.511293
4     1943.4240   493.5680  1388.1600   740.3520  ...   0.073395   1.511170
...         ...        ...        ...        ...  ...        ...        ...
1586  1449.8560  1573.2480  1419.0080  1542.4000  ...   0.073209   1.511755
1587  1727.4320  1542.3500  1295.5740  1449.8090  ...   0.073503   1.511498
1588  1573.2939  1449.8983   246.7912  1480.7472  ...   0.073398   1.511532
1589  1634.9917  1203.1071  1326.5027  1357.3516  ...   0.073327   1.511689
1590  1388.2005   154.2445  1480.7472  1048.8626  ...   0.073095   1.511757

        Column_62  Column_63  Column_64  Column_65  Column_67  Column_68  \
0     63697.96460   1.527815   0.073497   1.511214         42         36
1     63707.62973   1.527853   0.073633   1.511019         42         36
2     63699.33986   1.527973   0.073148   1.511530         42         36
3     63691.57205   1.527999   0.073202   1.511444         42         37
4     63691.78617   1.527921   0.073248   1.511445         42         37
...           ...        ...        ...        ...        ...        ...
1586  63656.58449   1.527551   0.073225   1.511742         56          0
1587  63655.56354   1.527707   0.073006   1.511899         56          0
1588  63659.57645   1.527553   0.073222   1.511745         56          1
1589  63638.76254   1.527492   0.073274   1.511726         56          1
1590  63657.61274   1.527457   0.073445   1.511539         56          2

      Column_73  Column_74
0            42         36
1            42         36
2            42         37
3            42         37
4            42         37
...         ...        ...
1586         56          0
1587         56          0
1588         56          1
1589         56          1
1590         56          2

[1591 rows x 68 columns]

In [88]:
test_data.columns

Index(['Id', 'Column_1', 'Column_2', 'Column_3', 'Column_4', 'Column_5',
       'Column_6', 'Column_7', 'Column_8', 'Column_9', 'Column_10',
       'Column_11', 'Column_12', 'Column_13', 'Column_14', 'Column_15',
       'Column_16', 'Column_17', 'Column_18', 'Column_19', 'Column_20',
       'Column_21', 'Column_22', 'Column_23', 'Column_24', 'Column_25',
       'Column_26', 'Column_27', 'Column_28', 'Column_29', 'Column_30',
       'Column_31', 'Column_32', 'Column_33', 'Column_34', 'Column_35',
       'Column_36', 'Column_37', 'Column_38', 'Column_39', 'Column_40',
       'Column_41', 'Column_42', 'Column_43', 'Column_44', 'Column_45',
       'Column_46', 'Column_47', 'Column_48', 'Column_49', 'Column_50',
       'Column_51', 'Column_52', 'Column_53', 'Column_54', 'Column_56',
       'Column_58', 'Column_59', 'Column_60', 'Column_61', 'Column_62',
       'Column_63', 'Column_64', 'Column_65', 'Column_67', 'Column_68',
       'Column_73', 'Column_74'],
      dtype='object')

In [89]:
X = dataset.iloc[:, 1:-1].values
y = dataset.iloc[:, -1].values

In [90]:
X_Sample_Test = test_data.values[:, 1:]

In [91]:
X_Sample_Test

array([[7.71175000e+04, 4.45149037e+04, 8.90431663e+04, ...,
        3.60000000e+01, 4.20000000e+01, 3.60000000e+01],
       [7.71200000e+04, 4.45163468e+04, 8.90460529e+04, ...,
        3.60000000e+01, 4.20000000e+01, 3.60000000e+01],
       [7.71200000e+04, 4.45163468e+04, 8.90460529e+04, ...,
        3.60000000e+01, 4.20000000e+01, 3.70000000e+01],
       ...,
       [7.71222500e+04, 4.45176456e+04, 8.90486508e+04, ...,
        1.00000000e+00, 5.60000000e+01, 1.00000000e+00],
       [7.71222500e+04, 4.45176456e+04, 8.90486508e+04, ...,
        1.00000000e+00, 5.60000000e+01, 1.00000000e+00],
       [7.71222500e+04, 4.45176456e+04, 8.90486508e+04, ...,
        2.00000000e+00, 5.60000000e+01, 2.00000000e+00]])

In [92]:
X

array([[7.70415000e+04, 4.44710339e+04, 8.89554134e+04, ...,
        1.50000000e+01, 2.30000000e+01, 1.50000000e+01],
       [7.71200000e+04, 4.45163468e+04, 8.90460529e+04, ...,
        1.50000000e+01, 2.30000000e+01, 1.50000000e+01],
       [7.71200000e+04, 4.45163468e+04, 8.90460529e+04, ...,
        1.50000000e+01, 2.30000000e+01, 1.50000000e+01],
       ...,
       [7.71175000e+04, 4.45149037e+04, 8.90431663e+04, ...,
        3.40000000e+01, 4.20000000e+01, 3.40000000e+01],
       [7.71175000e+04, 4.45149037e+04, 8.90431663e+04, ...,
        3.50000000e+01, 4.20000000e+01, 3.50000000e+01],
       [7.71200000e+04, 4.45163468e+04, 8.90460529e+04, ...,
        3.50000000e+01, 4.20000000e+01, 3.50000000e+01]])

In [94]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = rand_state)

In [98]:
from sklearn.ensemble import AdaBoostClassifier, GradientBoostingClassifier

In [95]:
from xgboost import XGBClassifier

#### Training the models

In [ ]:
pipeline_rf = Pipeline([('scalar3', StandardScaler()), 
                        ('pca3', PCA()),
                         ('rf_classifier', RandomForestClassifier(random_state=rand_state))])

In [ ]:
pipeline_rf = Pipeline([('scalar3', StandardScaler()), 
                        ('pca3', PCA()),
                         ('rf_classifier', AdaBoostClassifier(random_state=rand_state))])

In [ ]:
pipeline_rf = Pipeline([('scalar3', StandardScaler()), 
                        ('pca3', PCA()),
                         ('rf_classifier',GradientBoostingClassifier(random_state=rand_state, learning_rate=0.1, max_depth=6))])

In [ ]:
pipeline_rf = Pipeline([('scalar3', StandardScaler()), 
                        ('pca3', PCA()),
                         ('rf_classifier', XGBClassifier(random_state=rand_state, eta=0.1, max_depth=6))])

In [96]:
%%time 
# Fitting RF classifier to the Training set
RF_classifier = RandomForestClassifier(random_state=rand_state)
RF_classifier.fit(X_train, y_train)

Wall time: 982 ms

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=None, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=100,
                       n_jobs=None, oob_score=False, random_state=1000,
                       verbose=0, warm_start=False)

In [99]:
%%time
# Fitting AdaBoost classifier to the Training set
AdB_classifier = AdaBoostClassifier(random_state=rand_state)
AdB_classifier.fit(X_train, y_train)

Wall time: 526 ms

AdaBoostClassifier(algorithm='SAMME.R', base_estimator=None, learning_rate=1.0,
                   n_estimators=50, random_state=1000)

In [100]:
%%time
# Fitting Gradient Boosting classifier to the Training set
GBM_classifier = GradientBoostingClassifier(random_state=rand_state, learning_rate=0.1, max_depth=6)
GBM_classifier.fit(X_train, y_train)

Wall time: 4.9 s

GradientBoostingClassifier(ccp_alpha=0.0, criterion='friedman_mse', init=None,
                           learning_rate=0.1, loss='deviance', max_depth=6,
                           max_features=None, max_leaf_nodes=None,
                           min_impurity_decrease=0.0, min_impurity_split=None,
                           min_samples_leaf=1, min_samples_split=2,
                           min_weight_fraction_leaf=0.0, n_estimators=100,
                           n_iter_no_change=None, presort='deprecated',
                           random_state=1000, subsample=1.0, tol=0.0001,
                           validation_fraction=0.1, verbose=0,
                           warm_start=False)

In [101]:
%%time
# Fitting XGBoost classifier to the Training set
XGB_classifier = XGBClassifier(random_state=rand_state, eta=0.1, max_depth=6)
XGB_classifier.fit(X_train, y_train)

[21:54:10] WARNING: C:/Users/Administrator/workspace/xgboost-win64_release_1.4.0/src/learner.cc:1095: Starting in XGBoost 1.3.0, the default evaluation metric used with the objective 'binary:logistic' was changed from 'error' to 'logloss'. Explicitly set eval_metric if you'd like to restore the old behavior.
Wall time: 931 ms

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
              colsample_bynode=1, colsample_bytree=1, eta=0.1, gamma=0,
              gpu_id=-1, importance_type='gain', interaction_constraints='',
              learning_rate=0.100000001, max_delta_step=0, max_depth=6,
              min_child_weight=1, missing=nan, monotone_constraints='()',
              n_estimators=100, n_jobs=4, num_parallel_tree=1,
              objective='binary:logistic', random_state=1000, reg_alpha=0,
              reg_lambda=1, scale_pos_weight=1, subsample=1,
              tree_method='exact', use_label_encoder=True,
              validate_parameters=1, verbosity=None)

In [102]:
# Predicting the Test set probabilities and classes
y_hat_RF       = RF_classifier.predict(X_test)
y_hat_AdB      = AdB_classifier.predict(X_test)
y_hat_GBM      = GBM_classifier.predict(X_test)
y_hat_XGB      = XGB_classifier.predict(X_test)

---
## Evaluating the model performance on test data

In [103]:
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score
from sklearn.metrics import confusion_matrix, classification_report, roc_curve, roc_auc_score

### Comparing accuracy and f1scores among the boosters and RF

In [104]:
print('RF  Accuracy = {}'.format(accuracy_score(y_test, y_hat_RF)))
print('AdB Accuracy = {}'.format(accuracy_score(y_test, y_hat_AdB)))
print('GBM Accuracy = {}'.format(accuracy_score(y_test, y_hat_GBM)))
print('XGB Accuracy = {}'.format(accuracy_score(y_test, y_hat_XGB)))

RF  Accuracy = 0.7104
AdB Accuracy = 0.656
GBM Accuracy = 0.6944
XGB Accuracy = 0.704

In [105]:
clfs = [RF_classifier, AdB_classifier, GBM_classifier, XGB_classifier]

In [106]:
import csv

In [107]:
for i in range(len(clfs)):
    predicted_y = clfs[i].predict(X_Sample_Test)
    predicted_y = list(predicted_y)
    w_list = []
    for j in range(len(predicted_y)):
        w_list.append({"Id":(j+1), "Category":predicted_y[j]})
    print(len(w_list))
    with open('predictions00'+str(i)+'.csv', 'w', encoding='UTF8', newline='') as f:
        writer = csv.DictWriter(f, fieldnames=["Id", "Category"])
        writer.writeheader()
        writer.writerows(w_list)

1591
1591
1591
1591